
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>

   
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <script src="{{ url_for('static' ,filename = 'js/jquery-2.0.0.min.js')}}"></script>
      <script src="{{ url_for('static' ,filename = 'js/bootstrap.min.js')}}"></script>
      <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
      <link rel='stylesheet prefetch' href="{{url_for('static',filename='css/bootstrap.min.css')}}">
      <link rel="icon" href="{{url_for('static',filename='img/favicon.ico')}}" />
      <link rel="shortcut icon" href="{{url_for('static',filename='/img/favicon.ico')}}" />

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
	    <li role="presentation" class="active"><a href="#">Add Item</a></li>
            <li role="presentation" ><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Settings Page</h3>
      </div>
     <section>
      <form class="form-horizontal" method="post" action="/addWish">
<fieldset>

<!-- Form Name -->
<legend>Create Your Wish</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtTitle">RingNum</label>
  <div class="col-md-4">
  <input id="txtTitle" name="inputTitle" type="number" placeholder="placeholder" class="form-control input-md">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="txtPost">Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="txtPost" name="inputDescription" ></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Submit" />
  </div>
</div>

</fieldset>
</form>
      
</section>
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
    </div>
  </body>
</html>

