
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pjer's App</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <script src="{{ url_for('static' ,filename = '/js/jquery-2.0.0.min.js')}}"></script>
      <script src="{{ url_for('static' ,filename = '/js/bootstrap.min.js')}}"></script>
      <link rel="stylesheet" href="{{url_for('static',filename='/css/normalize.css')}}">
      <link rel='stylesheet prefetch' href="{{url_for('static',filename='/css/bootstrap.min.css')}}">
      <link rel="icon" href="{{url_for('static',filename='/img/favicon.ico')}}" />
      <link rel="shortcut icon" href="{{url_for('static',filename='/img/favicon.ico')}}" />

      <link href="{{ url_for('static' ,filename = 'css/signup.css')}}" rel="stylesheet">
      <script src="{{ url_for('static' ,filename = '/js/signUp.js')}}"></script >
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Sign In</a></li>
            <li role="presentation" ><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Bucket List App</h1>
        <form class="form-signin" action="/validateLogin" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
      </div>

      

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>

